h2{
	color: blue;
}

p{
	font-size: 30px;
}


/* currently unused */
.boxmodel {
	border:  5px solid red;
	display:  inline-block;
	/* Here we'll explore box model from inside of content > padding > Border > Margin */
	/* padding goes top, right, bottom, left; used if you want more space within the border */
	padding: 5px 20px 5px 20px;
	/* margin is used if you want more space outside of the border */
	margin:  0px 20px;
	/* shortcut is to just do 
		margin: 0px 20px; 
		top and bottom for 0px, left and right for 20px
	 */
	
	/* can edit content like this */
	width: 33px;
	height: 55px;
}

#emTest{
	/* em is how many times bigger than containing element, in our case its 3x */
	font-size: 4em;
}

/* rem would be based on the html size */
#remTest{
	font-size: 4rem;
}


/* Took the css quiz at w3School
Result:
24 of 25
96%

You can be proud of yourself!

Time Spent
3:10

Left sample of the quiz in Extras folder
*/
